<center><strong>Заказ №</strong> {{ qrid }}</center>
Тип полиграфии: {{qrtype}}<br />
Формат листа: {{ qrlist_format }}<br />
<ul>Размеры листа:<br />
 <li>ширина: {{qrw_list}}<br /></li>
 <li>высота: {{qrh_list}}<br /></li>
</ul>
Цветность: {{ qrchroma }}<br />
Плотность бумаги: {{qrpaper}}<br />
Тираж: {{qrquant}}<br />
<ul>Размер макета:
<li>Ширина: {{qrwidth}}<br /></li>
<li>Высота: {{qrheight}}<br /></li>
</ul>
Количество листов: {{ qrnumber_of_lists }} <br />
Количество на лист: {{ qron_paper}} <br />
Количество изделий итого: {{ qrfinally_production }} <br />
Количество резов: {{ qrslices}} <br />
Стоимость печати: {{ qrprint_cost }} грн. <br />
Стоимость подрезки: {{ qrslice_cost }} грн. <br />
Биговка: {{ qrbig_align }}  <br />
Количество бигов: {{ qrbig_count }}  <br />
Стоимость биговки: {{ qrbig_cost }}  грн.  <br />
Ламинация: {{ qrlamin_name }}  <br />
Стоимость ламинации: {{ qrlamin_cost }} грн.  <br />
Итоговая: {{qrorder_cost}} грн.<br />


