{% extends "base.html" %}
{% load i18n %}
{% block page_class %}home-page{% endblock %}

{% block content %}
    <div id="block" class="block">

    </div>

    <div id="result" class="result well">

    </div>
<div id="layout"></div>
    <!-- Блок ввода параметров заказа -->
    <script type="text/template" id="start">
            <form action="" method="get" class="form-horizontal" name="start">

                <div class="control-group">
                    <label class="control-label" for="buttons">Стандартные форматы:</label>
                    <div class="controls">
                        <div class="btn-group" id="buttons">Загрузка...</div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="width">Ширина изделия:</label>
                    <div class="controls">
                        <div class="input-append">
                            <input class="num span2" type="text" name="width" id="width" value="100">
                            <span class="add-on">мм.</span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="height">Висота изделия:</label>
                    <div class="controls">
                        <div class="input-append">
                            <input class="num span2" type="text" name="height" id="height" value="200">
                            <span class="add-on">мм.</span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="quant">Тираж:</label>
                    <div class="controls">
                        <input class="num" type="text" name="quant" id="quant" value="100">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="time">Время на выполнение заказа:</label>
                    <div class="controls">
                        <div class="input-append">
                            <input class="num span2" type="text" name="time" id="time" value="2">
                            <span class="add-on">дней</span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="chroma">Цветность:</label>
                    <div class="controls">
                        <select class="num" name="chroma" id="chroma">
                            <option value="10">1+0</option>
                            <option value="11">1+1</option>
                            <option value="40" selected="selected">4+0</option>
                            <option value="44">4+4</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="params">Выберите бумагу:</label>
                    <div class="controls">
                        <select name="param_value" id="params">
                            <option value="">Loading</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Опции раскладки:</label>
                    <div class="controls">
                        <label class="checkbox inline" for="print_option1">
                            <input type="checkbox" name="add_trim" id="print_option1" value="add_trim">Подрезку не учитывать
                        </label>
                        <label class="checkbox inline" for="print_option2">
                            <input type="checkbox" name="add_print_area" id="print_option2" value="add_print_area">Запечатка без вылетов
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Постпечатная обработка:</label>
                    <div class="controls">
                        <label class="checkbox inline" for="add_lamin">
                            <input type="checkbox" name="add_lamin" id="add_lamin" value="add_lamin">Ламинация
                        </label>
                        <label class="checkbox inline" for="add_big">
                            <input type="checkbox" name="add_big" id="add_big" value="add_big">Биговка
                        </label>
                    </div>
                </div>

                <div class="control-group" id="lamins">
                    <label class="control-label" for="lamins_options">Выберите ламинацию:</label>
                    <div class="controls">
                        <select name="lamin_name" id="lamins_options">
                            <option value="">Loading</option>
                        </select>
                    </div>
                </div>

                <div id="bigs">
                <div class="control-group">
                    <label class="control-label">Количество бигов:</label>
                    <div class="controls">
                        <label class="radio inline" for="big1">
                            <input type="radio" name="big_count" id="big1" value="1" checked>1
                        </label>
                        <label class="radio inline" for="big2">
                            <input type="radio" name="big_count" id="big2" value="2">2
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Положение бига:</label>
                    <div class="controls">
                        <label class="radio inline" for="bigh">
                            <input type="radio" name="big_align" id="bigh" value="horizontal" checked>Горизонтально
                        </label>
                        <label class="radio inline" for="bigv">
                            <input type="radio" name="big_align" id="bigv" value="vertical">Вертикально
                        </label>
                    </div>
                </div>
                </div>
                <div id="results"></div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" id="send" data-loading-text="Загрузка">Посчитать</button>
                </div>
            </form>
    </script>


    <!-- Блок информации -->
    <script type="text/template" id="info">
        <div class="alert alert-info">
            <strong>Итоговая цена печати:</strong> <%= order_cost %> грн.</br>
            <div class="control-group">
                <label class="control-label" for="email">Ваш емейл:</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" name="time" id="email" class="input-medium">
                        <button class="btn btn-success" id="send-order" data-loading-text="Загрузка">Подтвердить заказ</button>
                    </div>
                </div>
            </div>
            <div id="fileUpload"></div>


            <!-- <div class="control-group">
                <label class="control-label" for="fileInput">Загрузить макет</label>
                <div class="controls">
                    <input class="input-file" id="fileInput" type="file">
                </div>
            </div>-->

        </div>
    </script>


<!-- Блок вывода опций -->
    <script type="text/template" id="template-papers">
        <% _.each(papers, function(paper){ %>
        <option id="paper<%= paper.param_value %>" value="<%= paper.param_value %>"><%= paper.param_name %></option>
        <% }); %>
    </script>

    <!-- Блок вывода опций -->
    <script type="text/template" id="template-lamins">
        <% _.each(lamins, function(lamin){ %>
        <option id="lamin<%= lamin.lamin_name %>" value="<%= lamin.lamin_name %>"><%= lamin.lamin_label %></option>
        <% }); %>
    </script>

    <!-- Блок вывода форматов -->
    <script type="text/template" id="btn-formats">
        <% _.each(formats, function(format){ %>
        <button class="btn btn-info select-format" data-width="<%= format.width %>" data-height="<%= format.height %>"><%= format.name %></button>
        <% }); %>
    </script>


    <!-- Выбор бумаги
    <script type="text/template" id="paper-choose">
        <div class="price-choose modal form-horizontal">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Имя</th>
                    <th>Плотность</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(papers,function(paper){ %>
                <tr>
                    <td><%= paper.name %></td>
                    <td><%= paper.cost %></td>
                    <td><%= paper.density %></td>
                    <td></td>
                </tr>
                <% }); %>
                <tr>
                    <td><input type="radio" name="selectPaper" value="0.26"></td>
                    <td>Меловка</td>
                    <td>80</td>
                    <td>0.26</td>
                </tr>
                <tr>
                    <td><input type="radio" name="selectPaper" value="0.34"></td>
                    <td>Матовая</td>
                    <td>100</td>
                    <td>0.34</td>
                </tr>
                </tbody>
            </table>
            <div class="form-actions">
                <button class="btn btn-primary" id="send-paper" data-loading-text="Загрузка">Посчитать</button>
                <a class="btn" href="#!/">Назад</a>
            </div>

        </div>
    </script> -->
    <!--Блок вывода модуля  -->
    <script type="text/template" id="print">
        <div class="print">
            <h2>Тип полиграфии: <%= type %></h2>
            <dl cla.ss="dl-horizontal">
                <dt>Плотность бумаги:</dt>
                <dd><%= param_value %> <b>г/м2</b></dd>
                <dt>Размер листа:</dt>
                <dd><%= wid_a3 %>x<%= hei_a3 %> <b>мм</b></dd>
                <dt>Количество листов:</dt>
                <dd><%= number_of_lists %></dd>
                <br>
                <dt>Количество резов:</dt>
                <dd><%= slices %></dd>
                <dt>Ширина изделия:</dt>
                <dd><%= width %> <b>мм</b></dd>
                <dt>Высота изделия:</dt>
                <dd><%= height %> <b>мм</b></dd>
                <dt>Тираж изделия:</dt>
                <dd><%= quant %></dd>
                <dt>Время на выполение изделия:</dt>
                <dd><%= time %></dd>
                <dt>Цветность:</dt>
                <dd><%= chroma %></dd>

                -----------------------------------------------</br>
                <!--<dt>Полезная продукция:</dt>
                <dd><%= Real %> <b>мм^2</b></dd>
                <dt>Полная продукция:</dt>
                <dd><%= All %> <b>мм^2</b></dd>-->
                <dt>Отход:</dt>
                <dd><%= Out %> <b>%</b></dd>
                <dt>Количество на лист:</dt>
                <dd><%= On_paper %></dd>
                
                <dt>Цена подрезки:</dt>
                <dd><%= slice_cost %> грн.</dd>

                <dt>Цена беговки:</dt>
                <dd><%= big_cost %> грн.</dd>
                <dt>Цена ламинации:</dt>
                <dd><%= lamin_cost %> грн.</dd>



                <dt>Итого изделий:</dt>
                <dd><%= finally_production %></dd>

            </dl>

        </div>
    </script>
<!--/*
<% _.each(this,function(item,key,list){ %>
                <dt>
                    <%= key %>
                </dt>
                <dd>
                    <%= item %>
                </dd>
                <% });%>
            */-->
{% endblock %}
