{% extends "base.html" %}
{% load i18n %}
{% block page_class %}home-page{% endblock %}

{% block content %}
    <!-- форма ввода логина и пароля -->



    <div id="block">

    </div>
<div id="order"></div>

    <div id="result" {% if not is_log %} style="display: none" {% endif %}>

    </div>

    <!-- Блок ввода параметров заказа -->
    <script type="text/template" id="start">
        {% if is_log %}
        <form action="/" method="post">{% csrf_token %}
            <input type="hidden" name="action" value="logout">
            <input type="submit" class="btn" value="выйти">
        </form>
            {% else %}
            <a data-toggle="modal" href="#login" ><i class="icon-off"></i></a>
            {% endif %}
        <div class="modal hide" id="login">
            <div class="modal-body">
            {% if form.errors %}
                <p class="error">Вы неправильно ввели логин или пароль</p>
            {% endif %}
            <form action="/" method='post'>{% csrf_token %}
                <label for="username">Логин:</label>
                <input type="text" name="username" value="" id="username">
                <label for="password">Пароль:</label>
                <input type="password" name="password" value="" id="password">
                <input type="hidden" name="action" value="login">
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Войти" id="login-btn" />
                    <input type="hidden" name="next" value="{{ next|escape }}" />
                </div>
            </form>
            </div>
        </div>
        <div class="start block">
            <form action="" method="get" class="form-horizontal" name="start">

                <div class="control-group">
                    <!--<label class="control-label" for="formats-block">Стандартные форматы:</label>-->
                    <label>Выберите стандартные форматы изделия:</label>
                        <div class="btn-group" id="formats-block">Загрузка...</div>
                </div>

                <div class="control-group">
                    <label>Или введите размеры вручную:</label>
                    <label class="control-label" for="width">Ширина изделия (мм):</label>
                    <div class="controls">
                            <input class="num" type="text" name="width" id="width" value="100">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="height">Висота изделия (мм):</label>
                    <div class="controls">
                            <input class="num" type="text" name="height" id="height" value="200">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="quant">Тираж:</label>
                    <div class="controls">
                        <input class="num" type="text" name="quant" id="quant" value="100">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="time">Время на выполнение заказа (дни):</label>
                    <div class="controls">
                            <input class="num" type="text" name="time" id="time" value="2">

                        <p class="help-block">Введите количеcтво дней, которые вы можете выделить для печати данного заказа.</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Цветность:</label>
                    <div class="controls" id="chromas-block">
                        Загрузка...
                        <!--<select name="chroma" id="chromas-block">
                            <option value="10">1+0</option>
                            <option value="11">1+1</option>
                            <option value="40" selected="selected">4+0</option>
                            <option value="44">4+4</option>
                        </select>-->
                    </div>
                </div>

                <div class="control-group" id="wide-types">
                    <label class="control-label">Тип широкоформатной печати:</label>
                    <div class="controls" id="wide-types-block">
                        Загрузка...
                    </div>
                </div>

                <div class="control-group" id="papers">
                    <label class="control-label" for="papers-block">Плотность бумаги (г/м2):</label>
                    <div class="controls">
                        <select name="param_value" id="papers-block">
                            <option>Загрузка...</option>
                        </select>
                    </div>
                </div>

                <div class="control-group" id="wide-papers">
                    <label class="control-label" for="wide-papers-block">Широкоформатная бумага:</label>
                    <div class="controls">
                        <select name="wpaper_name" id="wide-papers-block">
                            <option>Загрузка...</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Опции раскладки:</label>
                    <div class="controls">
                        <label class="checkbox inline toolLink" for="print_option1" data-rel="tooltip" title="Количество изделий на печатный лист более одного, но порезка на отдельные экземпляры не нужна">
                            <input type="checkbox" name="add_trim" id="print_option1" value="add_trim">Подрезку не учитывать
                        </label>
                        <label class="checkbox inline toolLink" for="print_option2" data-rel="tooltip" title="Печатный макет имеет белые поля по периметру или оттиск будет ужат на 4 мм по каждой стороне (удешевляет заказ)">
                            <input type="checkbox" name="add_print_area" id="print_option2" value="add_print_area">Запечатка без вылетов
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Постпечатная обработка:</label>
                    <div class="controls">
                        <label class="checkbox inline" for="add_lamin">
                            <input type="checkbox" name="add_lamin" id="add_lamin" value="add_lamin">Ламинация
                        </label>
                        <label class="checkbox inline toolLink" for="add_big" data-rel="tooltip" title="В печатаемом изделии присутствуют сгибы.">
                            <input type="checkbox" name="add_big" id="add_big" value="add_big">Биговка
                        </label>
                    </div>
                </div>

                <div class="control-group" id="lamins">
                    <label class="control-label" for="lamins-block">Выберите ламинацию:</label>
                    <div class="controls">
                        <select name="lamin_name" id="lamins-block">
                            <option>Загрузка...</option>
                        </select>
                    </div>

                </div>

                <div id="bigs">
                    <div class="control-group">
                        <label class="control-label">Количество бигов:</label>
                        <div class="controls">
                            <label class="radio inline" for="big1">
                                <input type="radio" name="big_count" id="big1" value="1" checked>1
                            </label>
                            <label class="radio inline" for="big2">
                                <input type="radio" name="big_count" id="big2" value="2">2
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Положение бига:</label>
                        <div class="controls">
                            <label class="radio inline" for="bigh">
                                <input type="radio" name="big_align" id="bigh" value="horizontal" checked>Горизонтально
                            </label>
                            <label class="radio inline" for="bigv">
                                <input type="radio" name="big_align" id="bigv" value="vertical">Вертикально
                            </label>
                        </div>
                    </div>
                </div>
                <div id="alert"></div>

                <div class="form-actions">
                    <button type="submit" class="mbtn" id="send" data-loading-text="Загрузка">Посчитать</button>
                </div>
            </form>
        </div>
    </script>


    <!-- Блок информации -->
    <script type="text/template" id="template-order">
        <div class="order block">
            <dl class="text-block">
                <dt><h2>Тип печати:</h2></dt>
                <dd><h2 class="title"><%= type_label %></h2></dd>
                <br>
                <dt>Ширина готового изделия:</dt>
                <dd class="title"><%= width %> мм</dd>
                <dt>Высота готового изделия:</dt>
                <dd class="title"><%= height %> мм</dd>
                <dt>Тираж изделия:</dt>
                <dd class="title"><%= quant %> штук</dd>
                <dt>Время на выполение заказа:</dt>
                <dd class="title"><%= time %> дней</dd>
                <dt>Цветность:</dt>
                <dd class="title"><%= chroma_label %></dd>
                <% if (_.isNumber(parseInt(param_value))){ %>
                <dt>Плотность бумаги:</dt>
                <dd class="title"><%= paper_label %> г/м2</dd>
                <% } else { %>
                <dt>Тип бумаги:</dt>
                <dd class="title"><%= paper_label %></dd>
                <% } %>
                <hr class="divinder">
                <br>
                <dt class="title">Итоговая цена изделия:</dt>
                <dd class="title"><%= product_cost %> грн</dd>
                <dt class="title">Итоговая цена печати:</dt>
                <dd class="title"><span class="warm"><%= order_cost %> грн</span></dd>
            </dl>
            <div id="fileUpload"></div>
            <div class="control-group">
                <label class="control-label">Для продолжения оставте ваш емейл или телефон. Менеджер свяжется с вами.</label>
                <div class="controls">
                    <div class="input">
                        <input type="username" name="name" id="name" class="input-medium" placeholder="Ваше имя" title="Выше ммя"/>
                        <input type="email" name="email" id="email" class="input-medium" placeholder="Е-мейл" title="Е-мейл"/>
                        <input type="phone" name="phone" id="phone" class="input-medium" placeholder="Телефон" title="Телефон"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="comment">Комментарий к заказу</label>

                <div class="controls">
                    <textarea name="comment" id="comment" class="input-xlarge" rows="3"></textarea>
                </div>
                <button class="btn btn-success" id="send-order" data-loading-text="Загрузка">Подтвердить заказ</button>
            </div>

        </div>
    </script>


<!-- Блок вывода опций -->
    <script type="text/template" id="template-papers-block">
        <% _.each(models, function(paper){ %>
        <option id="paper<%= paper.param_value %>" value="<%= paper.param_value %>"><%= paper.param_name %></option>
        <% }); %>
    </script>

    <!-- Блок вывода опций -->
    <script type="text/template" id="template-lamins-block">
        <% _.each(models, function(lamin){ %>
        <option id="lamin<%= lamin.lamin_name %>" value="<%= lamin.lamin_name %>"><%= lamin.lamin_label %></option>
        <% }); %>
    </script>

    <!-- Блок вывода широкоформатной бумаги -->
    <script type="text/template" id="template-wide-papers-block">
        <% _.each(models, function(paper){ %>
        <option id="wide-paper-<%= paper.wpaper_name %>" value="<%= paper.wpaper_name %>"><%= paper.wpaper_label %></option>
        <% }); %>
    </script>

    <!-- Блок вывода цветностей -->
    <script type="text/template" id="template-chromas-block">
        <% _.each(models, function(chroma){ %>
        <label class="radio" for="chroma<%= chroma.chroma %>">
            <input type="radio" name="chroma" id="chroma<%= chroma.chroma %>" value="<%= chroma.chroma %>"><%= chroma.chroma_label %>
        </label>
        <% }); %>
    </script>

    <!-- Блок вывода типов широкоформатной печати -->
    <script type="text/template" id="template-wide-types-block">
        <% _.each(models, function(type){ %>
        <label class="radio" for="wide-type-<%= type.wide_type %>">
            <input type="radio" name="wide_type" id="wide-type-<%= type.wide_type %>" value="<%= type.wide_type %>"><%= type.wide_type_label %>
        </label>
        <% }); %>
    </script>

    <!-- Блок вывода форматов -->
    <script type="text/template" id="template-formats-block">
        <% _.each(models, function(format){ %>
        <button class="btn btn-info select-format" data-width="<%= format.width %>" data-height="<%= format.height %>"><%= format.name %></button>
        <% }); %>
    </script>


    <!--Блок вывода заказа для админа  -->
    <script type="text/template" id="print">
        <div class="print block">
            <div class="row-fluid">
                <div class="span5">
                    <div id="layout"></div>
                </div>
                <div class="span7">
                    <!-- <h2>Тип полиграфии: <%= type %></h2>-->
                    <dl class="text-block">
                        <% if (_.isNumber(parseInt(param_value))){ %>
                        <dt>Плотность бумаги:</dt>
                        <dd><%= paper_label %> г/м2</dd>
                        <% } else { %>
                        <dt>Тип бумаги:</dt>
                        <dd><%= paper_label %></dd>
                        <% } %>
                        <dt>Размер листа:</dt>
                        <dd><%= wid_a3 %>x<%= hei_a3 %> мм</dd>
                        <dt>Количество листов:</dt>
                        <dd><%= number_of_lists %> штук</dd>
                        <br>
                        <dt>Количество на лист:</dt>
                        <dd><%= On_paper %></dd>
                        <dt>Количество резов на лист:</dt>
                        <dd><%= slices %></dd>
                        <br>
                        <br>
                        <dt>Ширина изделия:</dt>
                        <dd><%= width %> <b>мм</b></dd>
                        <dt>Высота изделия:</dt>
                        <dd><%= height %> <b>мм</b></dd>


                        <dt>Итого изделий:</dt>
                        <dd><%= finally_production %></dd>
                        <br>
                        <dt>Стоимость печати:</dt>
                        <dd><%= print_cost %> грн.</dd>
                        <% if (_.isNumber(big_cost)){ %>
                        <dt>Стоимость беговки:</dt>
                        <dd><%= big_cost %> грн.</dd>
                        <% } %>
                        <% if (_.isNumber(lamin_cost)){ %>
                        <dt>Стоимость ламинации:</dt>
                        <dd><%= lamin_cost %> грн.</dd>
                        <% } %>

                        <% if (_.isNumber(slice_cost)) { %>
                        <dt>Стоимость подрезки:</dt>
                        <dd><%= slice_cost %> грн.</dd>
                        <% } %>
                        <dt>Итоговая стоимость:</dt>
                        <dd><%= order_cost %> грн.</dd>

                        <dt>Отход:</dt>
                        <dd><b><%= Out %> %</b></dd>





                    </dl>
                </div>
            </div>
        </div>
    </script>
{% endblock %}
